<!DOCTYPE html>
<html lang="en" dir="ltr">

<%= stylesheet_link_tag "recipes.css" %>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>

  <body>
    <div class="container">
      <header>
      <%= form_tag("/search") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %><br>

      </header>



        <div class="recipe_container_card">
          <% @recipes.each_with_index do |recipe, i| %>
          <% break if i == 5; %>
          <img src=<%= recipe.image_url %> alt="recipe.title"><br>
          <%= link_to recipe.title, recipe_path(recipe) %><br>
          <%end%><br>
        </div>
    </div>


    </div>
  </body>

</html>
