
<%= form_tag("/search") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %><br>


<% @recipes.each do |recipe| %>
  <%= link_to recipe.title, recipe_path(recipe) %><br>
<%end%>

<h1><%= @recipes.most_likes.title %></h1>
