<!DOCTYPE html>
<html lang="en" dir="ltr">

<%= stylesheet_link_tag "recipes.css" %>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body class="backgroundpic">
    <div class="header">
      <div class="header-container">
        <div class="header_logo">
          <%=image_tag("smalllogo.png")%>
        </div>
        <div class="menu-wrapper">
          <a class="menu-button" href="/recipes">
            <i class="fa fa-sign-in fa-2x visible-xs"></i>
            <span class="hidden-xs">Home</span>
          </a>
          <a class="menu-button" href="/recipes/new">
            <i class="fa fa-sign-in fa-2x visible-xs"></i>
            <span class="hidden-xs">New Recipe</span>
          </a>
          <a class="menu-button" href="/users/<%= current_user.id %>">
            <i class="fa fa-sign-in fa-2x visible-xs"></i>
            <span class="hidden-xs">Profile</span>
          </a>
          <a class="menu-button" <%= link_to "Log out", login_path(@user), method: :delete %>
          </a>
          <%= form_tag("/search") do %>
                <%= label_tag(:q, "Search for:") %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Search") %>
                <% end %><br>
        </div>
      </div>
    </div>

<h2>Featured Recipe Results</h2>
        <div class="container_card">
          <% @recipes.each_with_index do |recipe, i| %>
          <% break if i == 5; %>
            <div class="polaroid">
              <img src=<%= recipe.image_url %>><br>
              <%= link_to recipe.title, recipe_path(recipe) %>
            </div>
            <div class="container">
        </div>
          <%end%><br>
        </div>


    <h2>Most Liked Recipes</h2>
      <div class="container_card">
        <% Recipe.most_likes.each do |recipe| %>
      <div class="polaroidrow2">
        <img src=<%= recipe.image_url %>><br>
        <%= link_to recipe.title, recipe_path(recipe) %>
      </div>
      <div class="container">

      </div>
        <% end %><br>
      </div>

  </body>

</html>
