<!DOCTYPE html>
<html lang="en" dir="ltr">

<%= stylesheet_link_tag "recipes.css" %>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>

  <body>
    <div class="container">
      <header>
        <%= form_tag("/search") do %>
          <%= label_tag(:q, "Search for:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Search") %>
        <% end %><br>
      </header>

<h2>Featured Recipe Results</h2>
        <div class="recipe_container_card">
          <% @recipes.each_with_index do |recipe, i| %>
          <% break if i == 5; %>
            <div class="polaroid">
              <img src=<%= recipe.image_url %>><br>
              <%= link_to recipe.title, recipe_path(recipe) %>
            </div>
            <div class="container">
        </div>
          <%end%><br>
        </div>
    </div>

    <h2>Most Favorited Recipe</h2>
      <div class="fave_recipe_card">
        <% Recipe.most_likes.each do |recipe| %>
      <div class="polaroidrow2">
        <img src=<%= recipe.image_url %>><br>
        <%= link_to recipe.title, recipe_path(recipe) %>
      </div>
      <div class="container">

      </div>
        <% end %><br>
      </div>
    
  </body>

</html>
