<body class="userlogin">
<div class="header">
  <div class="header-container">
    <div class="menu-wrapper">
      <a class="menu-button">
        <ul>
            <li><a href="/recipes">Home</a></li>
            <li><a href="/users/<%= current_user.id %>">Profile</a></li>
            <li><%= link_to "Log out", login_path, method: :delete %></li>
        </ul>
      </a>
    </div>
  </div>
</div>


<h2><%= @recipe.title %></h2>
<h4>Ingredients: <% @recipe.ingredients.each do |ingredient| %></h4>
<%= ingredient.description %><br>
<% end %>
<h4>Click on picture to be taken to its recipe!</h4>
<%= link_to @recipe.source_url do %>
    <%= image_tag @recipe.image_url%>
<% end %>

<br>
<%= @recipe.likes.count %> Likes
<%= @recipe.favorites.count %> Favorites
        <div class="buttons">
        <%= button_to " ðŸ‘ ", recipe_likes_path(@recipe), method: :post %>
        <%= button_to " ðŸ˜ ", recipe_favorites_path(@recipe), method: :post %><br>
        </div>
<%= button_to "Edit Recipe", edit_recipe_path(@recipe), :method => :get%>
<%= button_to "Delete", @recipe, method: :delete%>
