<%= stylesheet_link_tag "recipeshow.css" %>
<body>
  <body class="backgroundpic">
    <div class="header">
      <div class="header-container">
        <div class="header_logo">
              <%=image_tag("smalllogo.png")%>
            </div>
        <div class="menu-wrapper">
          <a class="menu-button" href="/recipes">
            <i class="fa fa-sign-in fa-2x visible-xs"></i>
            <span class="hidden-xs">Home</span>
          </a>
          <a class="menu-button" href="/recipes/new">
            <i class="fa fa-sign-in fa-2x visible-xs"></i>
            <span class="hidden-xs">New Recipe</span>
          </a>
          <a class="menu-button" href="/users/<%= current_user.id %>">
            <i class="fa fa-sign-in fa-2x visible-xs"></i>
            <span class="hidden-xs">Profile</span>
          </a>
          <a class="menu-button" <%= link_to "Log out", login_path(@user), method: :delete %>
          </a>
          <%= form_tag("/search") do %>
                <%= label_tag(:q, "Search for:") %>
                <%= text_field_tag(:q) %>
                <%= submit_tag("Search") %>
                <% end %><br>
        </div>
      </div>
    </div>
<h2><%= @recipe.title %></h2>
<div class="row">
  <div class="column">
    <div class="recipe_buttons">
      <%= button_to "Edit Recipe", edit_recipe_path(@recipe), :method => :get%>
      <%= button_to "Delete", @recipe, method: :delete%>
    </div>
    <%= link_to @recipe.source_url do %>
    <%= image_tag @recipe.image_url%>
    <% end %><br>


        <div class="buttons">
          <%= button_to "ðŸ‘", recipe_likes_path(@recipe), method: :post %>
          <%= button_to "ðŸ˜", recipe_favorites_path(@recipe), method: :post %> <br>
        </div>
<br>
<h3>This recipe has:</h3>
<%= @recipe.likes.count %> Likes
<%= @recipe.favorites.count %> Favorites
<br>
<br>


  </div>
<div class="column">
    <h4>Ingredients:</h4>
    <p><% @recipe.ingredients.each do |ingredient| %></p>
        <li><%= ingredient.description %></li>
    <% end %>
  </div>
</div>
<br>
<br>
<!-- </div> -->
</body>
