<h2><%= @recipe.title %></h2>
<h4>Ingredients: <% @recipe.ingredients.each do |ingredient| %></h4>
<%= ingredient.description %><br>
<% end %>
<h4>Click on picture to be taken to recipe!</h4>
<%= link_to @recipe.source_url do %>
    <%= image_tag @recipe.image_url%>
<% end %>

<br>
<%= @recipe.likes.count %> Likes
<%= @recipe.favorites.count %> Favorites
<%= button_to 'Like', recipe_likes_path(@recipe), method: :post %>
<%= button_to 'Favorite', recipe_favorites_path(@recipe), method: :post %><br>

<%= button_to "Edit Recipe", edit_recipe_path(@recipe), :method => :get%>
<%= button_to "Delete", @recipe, method: :delete%>
