<!DOCTYPE html>
<html>
<%= stylesheet_link_tag"users.css" %>

<head>
</head>
<body>
<div class="header">
  <div class="header-container">
    <div class="menu-wrapper">
      <a class="menu-button" href="/login">
        <i class="fa fa-sign-in fa-2x visible-xs"></i>
        <span class="hidden-xs">Log in</span>
      </a>
    </div>
  </div>
</div>
<div class="content">
  <div class="login-container">
    <div class="login-form">
      <h4 class="title">Welcome Back</h4>

      <form class="simple_form " id="new_user" novalidate="novalidate" action="/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="3TwLKzGGHrkwWcXx7rFLq9bZaH5c9p45KCDRrC1QlqXkwFTNcIaMGLshSyArFtIk9WnXuwAh2qQE3PYYKzrOBg==">
        <input type="hidden" name="utm_content" id="utm_content">
        <input type="hidden" name="redirect" id="redirect">

        <div class="input email optional user_email login-form__field"><label class="email optional" for="user_email">Email address</label><input class="string email optional" type="email" name="user[email]" id="user_email"></div>
        <div class="input password optional user_password login-form__field"><label class="password optional" for="user_password">Password</label><input class="password optional" type="password" name="user[password]" id="user_password"></div>
        <div style="padding-left:16px">
            <%= form_for @user do |f| %>
            <%= f.label :username %>
            <%= f.text_field :username %><br>
            <%= f.label :password %>
            <%= f.text_field :password %><br>
            <%= f.label :password_confirmation %>
            <%= f.text_field :password_confirmation %><br>
            <%= f.submit "Save User"%>
            <%end%>
        </div>

        <input type="submit" name="commit" value="Log in" class="mp-red-button-full" data-disable-with="Log in">

        <p class="request-invite">
          Don't have a account?
          <a href="login">Log in!</a>
        </p>
</form>    </div>
  </div>
</div>



</body>
</html>





