<%= stylesheet_link_tag"login.css" %>
<div class="header">
  <div class="header-container">
    <div class="header_logo">
      <%=image_tag("smalllogo.png")%>
    </div>
    <div class="menu-wrapper">
      <a class="menu-button" href="/recipes">
        <i class="fa fa-sign-in fa-2x visible-xs"></i>
        <span class="hidden-xs">Home</span>
      </a>
      <a class="menu-button" href="/users/<%= current_user.id %>">
        <i class="fa fa-sign-in fa-2x visible-xs"></i>
        <span class="hidden-xs">Profile</span>
      </a>
      <a class="menu-button" <%= link_to "Log out", login_path(@user), method: :delete %>
      </a>
    </div>
  </div>
</div>
<body>
    <div class="content">
      <div class="user_info-container">
        <div class="login-form">
          <h1 class="title">Hello! <%=@user.username%></h1>
            <h4>You created : <%= @user.recipes.count %> recipes</h4>
            <h4>Your Liked Recipes: <%= @user.likes.count %> </h4>
            <h4>Your Favorite recipes: <%= @user.favorites.count %></h4>
            <h4>Your Favorite Ingredients: <%= @user.ingredients.count %></h4>
            <p class="request-invite">
              Change Password
              <a href="login"> <%= link_to "Here!", edit_user_path(@user)%><br>
              Delete Profile
              <a href="menu-button"> <%=link_to "Here!", user_path(@user), method: :delete %>
            </p>
        </div>
      </div>
    </div>
  <div class="content">
      <div class="login-container-1">
        <div class="login-form-1">
          <div class="recipe-cards">

          <div class="user_recipes">
            <h4>Created recipes</h4>



                <% @user.recipes.each do |recipe| %>
                  <%= link_to recipe.title, recipe_path(recipe) %><br>
                <% end %>
                </div>

              <div class="liked_favorited_recipes">


                <h4>Liked recipe history :</h4>
                <% @user.likes.each do |like| %>
                  <% recipe = Recipe.find_by_id(like.recipe_id) %>
                  <%= link_to recipe.title, recipe_path(recipe) %><br>
                <% end %>
                <h4>Favorite recipe history :</h4>
                <% @user.favorites.each do |favorite| %>
                  <% recipe = Recipe.find_by_id(favorite.recipe_id) %>
                  <%= link_to recipe.title, recipe_path(recipe) %><br>
                <% end %>

            </div><br>

            <div class="ingredient_list">
              <h4>Ingredient Shopping list :</h4>
              <% @user.favorites.each do |favorite| %>
                <% recipe = Recipe.find_by_id(favorite.recipe_id) %>
                  <% recipe.ingredients.each do |item| %>
                    <li><%=item.description %></li><br>
                  <% end %>
              <% end %>
            </div>

          </div>



        </div>
      </div>
    </div>
</body>
